@model VitacoreTestApp.ViewModels.LotDetailsViewModel

@{
    ViewBag.Title = "Man Auction page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1 class="display-4">
        Auction main page
    </h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top"
                     src="@Model.Lot.ImageUrl"/>
                <div class="card-body">
                    <h5 class="card-title">
                        @Model.Lot.Description
                    </h5>
                    <p class="font-weight-bold">
                        Current bid: @Model.Lot.CurrentBid.ToString("C")
                    </p>
                    <p class="class-muted">
                        Time remainig @Model.Lot.EndTime.ToString(@"hh\:mm\:ss")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>